block config

doctype html
html(lang=__.lang, class="no-js")
    head
        block head
            include head
    body.body(class=bodyClass)
        include mixins/svgsprite
        
        block header
            include blocks/header
        
        .content
            block content
        
        block footer
            include blocks/footer
        
        //- .hidden
        block popup
            include blocks/popup

        block submit
            include blocks/submit

        block modalForm
            include blocks/modalForm
        
        block styles
            link(rel='stylesheet', href='assets/css/common.css?v=' + PACKAGE.version)
            link(rel='stylesheet', href='https://unpkg.com/swiper/swiper-bundle.min.css')
            link(rel='stylesheet', href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css', integrity='sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==', crossorigin='')
            
        block scripts-config
            script.
                /* изменяемые настройки скриптов, указаны значения по умолчанию */
                var appConfig = {
                    /*
                    scrollToOffset: 150, // оффсет при скролле до элемента
                    scrollToSpeed: 500, // скорость скролла 
                    */
                }
        block scripts
            include scripts