section.carousels

  h3.carousels__title Масштабы производства

  .benefits
    .swiper-container.benefits2__swiper-container
      .swiper-wrapper.benefits__swiper-wrapper
        .swiper-slide.benefits__swiper-slide
          .benefits__card.benefits__card--left.benefits2__card.benefits2__card--left
            h3.benefits__card-number 100
              span.benefits__card-supper единиц
            p.benefits__card-subtitle.lower-case выпускаемой продукции в сутки
          .benefits__card.benefits__card--middle.benefits2__card.benefits2__card--middle
            h3.benefits__card-number 480
              span.benefits__card-supper м
                sup 2
            p.benefits__card-subtitle.lower-case площадь <br/> пошивочного цеха
          .benefits__card.benefits__card--right.benefits2__card.benefits2__card--right
            h3.benefits__card-number 100
              span.benefits__card-supper расцветок
            p.benefits__card-subtitle.lower-case тканей для практически любого дизайна
          
  .photos
    .swiper-container.photos__swiper-container
      .swiper-wrapper
        .swiper-slide.photos__swiper-slide
          picture
              <source type="image/webp" media="(max-width: 767px)" srcset="assets/img/carousel/1.webp">
              <source type="image/jpg" media="(max-width: 767px)" srcset="assets/img/carousel/1.jpg">
              img(src="assets/img/carousel/1.webp", alt="client-1")
        .swiper-slide.photos__swiper-slide
          picture
                <source type="image/webp" media="(max-width: 767px)" srcset="assets/img/carousel/2.webp">
                <source type="image/jpg" media="(max-width: 767px)" srcset="assets/img/carousel/2.jpg">
                img(src="assets/img/carousel/2.webp", alt="client-1")
        .swiper-slide.photos__swiper-slide
          picture
                <source type="image/webp" media="(max-width: 767px)" srcset="assets/img/carousel/3.webp">
                <source type="image/jpg" media="(max-width: 767px)" srcset="assets/img/carousel/3.jpg">
                img(src="assets/img/carousel/3.webp", alt="client-1")
        .swiper-slide.photos__swiper-slide
          picture
                <source type="image/webp" media="(max-width: 767px)" srcset="assets/img/carousel/4.webp">
                <source type="image/jpg" media="(max-width: 767px)" srcset="assets/img/carousel/4.jpg">
                img(src="assets/img/carousel/4.webp", alt="client-1")
        .swiper-slide.photos__swiper-slide
          picture
                <source type="image/webp" media="(max-width: 767px)" srcset="assets/img/carousel/5.webp">
                <source type="image/jpg" media="(max-width: 767px)" srcset="assets/img/carousel/5.jpg">
                img(src="assets/img/carousel/5.webp", alt="client-1")
        .swiper-slide.photos__swiper-slide
          picture
                <source type="image/webp" media="(max-width: 767px)" srcset="assets/img/carousel/6.webp">
                <source type="image/jpg" media="(max-width: 767px)" srcset="assets/img/carousel/6.jpg">
                img(src="assets/img/carousel/6.webp", alt="client-1") 
              
  .banner2
    .banner2__wrap
       h2.banner2__text отвечаем на частые вопросы клиентов отвечаем на частые вопросы клиентов
    //- .swiper-container.banner__swiper-container
    //-   .swiper-wrapper
    //-     .swiper-slide.banner__swiper-slide.background-transparent
         