section.carousels
  .benefits
    .swiper-container.benefits__swiper-container
      .swiper-wrapper.benefits__swiper-wrapper
        .swiper-slide.benefits__swiper-slide
          .benefits__card.benefits__card--left
            h3.benefits__card-number 100
              span.benefits__card-supper единиц
            p.benefits__card-subtitle.lower-case выпускаемой продукции в сутки
          .benefits__card.benefits__card
            h3.benefits__card-number 480
              span.benefits__card-supper м
                sup 2
            p.benefits__card-subtitle.lower-case площадь пошивочного цеха
          .benefits__card.benefits__card--right
            h3.benefits__card-number 100
              span.benefits__card-supper расцветок
            p.benefits__card-subtitle.lower-case тканей для практически любого дизайна
          
  .photos
    .swiper-container.photos__swiper-container
      .swiper-wrapper
        .swiper-slide.photos__swiper-slide
          img(src="assets/img/carousel/1.webp", alt="client-1")
        .swiper-slide.photos__swiper-slide
          img(src="assets/img/carousel/2.webp", alt="client-2")
        .swiper-slide.photos__swiper-slide
          img(src="assets/img/carousel/3.webp", alt="client-3")
        .swiper-slide.photos__swiper-slide
          img(src="assets/img/carousel/4.webp", alt="client-4")
        .swiper-slide.photos__swiper-slide
          img(src="assets/img/carousel/5.webp", alt="client-5")
        .swiper-slide.photos__swiper-slide
          img(src="assets/img/carousel/6.webp", alt="client-6")    
              
  .banner
    .swiper-container.banner__swiper-container
      .swiper-wrapper
        .swiper-slide.banner__swiper-slide.background-transparent
          h2.banner__text отвечаем на частые вопросы клиентов