section.carousels
  .photos
    //- .swiper-container.photos__swiper-container
    //-   .swiper-wrapper.photos__swiper-wrapper
    //-     .swiper-slide.photos__swiper-slide
    //-       .photos__dimm
    //-       img(src="assets/img/carousel/1.png", alt="client-1")
    //-       .photos__info
    //-         p.photos__info-label На фото:
    //-         p.photos__info-name ФАРТУКИ ДЛЯ НОЧНОГО КЛУБА “CHIPS”
    //-     .swiper-slide.photos__swiper-slide
    //-       .photos__dimm
    //-       img(src="assets/img/carousel/2.png", alt="client-2")
    //-       .photos__info
    //-         p.photos__info-label На фото:
    //-         p.photos__info-name ФАРТУКИ ДЛЯ СЕТИ РЕСТОРАНОВ “CУЛУГУНИ”
    //-     .swiper-slide.photos__swiper-slide
    //-       .photos__dimm
    //-       img(src="assets/img/carousel/3.png", alt="client-3")
    //-       .photos__info
    //-         p.photos__info-label На фото:
    //-         p.photos__info-name ФАРТУКИ ДЛЯ СЕТИ РЕСТОРАНОВ “ХАЧАПУРИ И ВИНО”
    //-     .swiper-slide.photos__swiper-slide
    //-       .photos__dimm
    //-       img(src="assets/img/carousel/4.png", alt="client-4")
    //-       .photos__info
    //-         p.photos__info-label На фото:
    //-         p.photos__info-name ФАРТУКИ ДЛЯ БАРА “ТЕМА”
    //-     .swiper-slide.photos__swiper-slide
    //-       .photos__dimm
    //-       img(src="assets/img/carousel/5.png", alt="client-5")
    //-       .photos__info
    //-         p.photos__info-label На фото:
    //-         p.photos__info-name ФАРТУКИ ДЛЯ КОФЕЙНИ “COFFEE BEEN”
    //-     .swiper-slide.photos__swiper-slide
    //-       .photos__dimm
    //-       img(src="assets/img/carousel/6.png", alt="client-6")
    //-       .photos__info
    //-         p.photos__info-label На фото:
    //-         p.photos__info-name ФАРТУКИ ДЛЯ РЕСТОРАНа “ЧЕМОДАН”

  .photos__wrap
    .swiper-slide.photos__swiper-slide
      .photos__dimm
      img(src="assets/img/carousel/1.png", alt="client-1")
      .photos__info
        p.photos__info-label На фото:
        p.photos__info-name ФАРТУКИ ДЛЯ НОЧНОГО КЛУБА “CHIPS”
    .swiper-slide.photos__swiper-slide
      .photos__dimm
      img(src="assets/img/carousel/2.png", alt="client-2")
      .photos__info
        p.photos__info-label На фото:
        p.photos__info-name ФАРТУКИ ДЛЯ СЕТИ РЕСТОРАНОВ “CУЛУГУНИ”
    .swiper-slide.photos__swiper-slide
      .photos__dimm
      img(src="assets/img/carousel/3.png", alt="client-3")
      .photos__info
        p.photos__info-label На фото:
        p.photos__info-name ФАРТУКИ ДЛЯ СЕТИ РЕСТОРАНОВ “ХАЧАПУРИ И ВИНО”
    .swiper-slide.photos__swiper-slide
      .photos__dimm
      img(src="assets/img/carousel/4.png", alt="client-4")
      .photos__info
        p.photos__info-label На фото:
        p.photos__info-name ФАРТУКИ ДЛЯ БАРА “ТЕМА”
    .swiper-slide.photos__swiper-slide
      .photos__dimm
      img(src="assets/img/carousel/5.png", alt="client-5")
      .photos__info
        p.photos__info-label На фото:
        p.photos__info-name ФАРТУКИ ДЛЯ КОФЕЙНИ “COFFEE BEEN”
    .swiper-slide.photos__swiper-slide
      .photos__dimm
      img(src="assets/img/carousel/6.png", alt="client-6")
      .photos__info
        p.photos__info-label На фото:
        p.photos__info-name ФАРТУКИ ДЛЯ РЕСТОРАНа “ЧЕМОДАН”
    .swiper-slide.photos__swiper-slide
      .photos__dimm
      img(src="assets/img/carousel/1.png", alt="client-1")
      .photos__info
        p.photos__info-label На фото:
        p.photos__info-name ФАРТУКИ ДЛЯ НОЧНОГО КЛУБА “CHIPS”
    .swiper-slide.photos__swiper-slide
      .photos__dimm
      img(src="assets/img/carousel/2.png", alt="client-2")
      .photos__info
        p.photos__info-label На фото:
        p.photos__info-name ФАРТУКИ ДЛЯ СЕТИ РЕСТОРАНОВ “CУЛУГУНИ”


  .benefits
    .swiper-container.benefits__swiper-container
      .swiper-wrapper.benefits__swiper-wrapper
        .swiper-slide.benefits__swiper-slide
          .benefits__card.benefits__card--left
            h3.benefits__card-title Цены на 20% ниже рыночных
            p.benefits__card-subtitle благодаря собственному производству
        
          .benefits__card.benefits__card--middle
            h3.benefits__card-title Производим любую вещь для&nbsp;персонала
            p.benefits__card-subtitle от фартуков до арбрендов и головных уборов
        
          .benefits__card.benefits__card--right
            h3.benefits__card-title Наносим логотипы с&nbsp;идеальной точностью без&nbsp;потери качества
            p.benefits__card-subtitle на японском оборудовании Tajima
          
            
  .banner
    .swiper-container.banner__swiper-container
      .swiper-wrapper.banner__swiper-wrapper
        .swiper-slide.banner__swiper-slide
          .banner__wrap
            h2.banner__title.banner__title--normal ФАРТУКИ    
            h2.banner__title.banner__title--bold поварские куртки
            h2.banner__title.banner__title--normal ФУТБОЛКИ ПОЛО
            h2.banner__title.banner__title--bold ГОЛОВНЫЕ УБОРЫ
            h2.banner__title.banner__title--normal ШТАНЫ   
            h2.banner__title.banner__title--bold АКСЕССУАРЫ
            h2.banner__title.banner__title--normal ФАРТУКИ
            //- h2.banner__title.banner__title--bold поварские куртки
            //- h2.banner__title.banner__title--normal ФУТБОЛКИ ПОЛО  
            
          
          
            
    //- .swiper-container.banner__swiper-container
    //-   .swiper-wrapper
    //-     .swiper-slide.banner__swiper-slide
    //-       h2.banner__title.banner__title--normal поло    
    //-       h2.banner__title.banner__title--bold поварские куртки
    //-       h2.banner__title.banner__title--normal свитшоты
    //-       h2.banner__title.banner__title--bold фартуки
        //- .swiper-slide.banner__swiper-slide
        //-   h2.banner__title.banner__title--normal поло    
        //-   h2.banner__title.banner__title--bold поварские куртки
        //-   h2.banner__title.banner__title--normal свитшоты
        //-   h2.banner__title.banner__title--bold фартуки

              