section.clients
  .clients__dimmed
    .clients__dimmed-photo
  .container.clients__container
    p.clients__description Среди наших клиентов как малый бизнес, так&nbsp;и&nbsp;большие сетевые организации по всей России:

  .swiper-container.clients__swiper-container
    .swiper-wrapper
      .swiper-slide.clients__swiper-slide
        .clients__card
          .clients__photo
            picture
                <source type="image/webp" media="(max-width: 767px)" srcset="assets/img/clients/client-1.webp">
                <source type="image/jpg" media="(max-width: 767px)" srcset="assets/img/clients/client-1.jpg">
                img(src="assets/img/clients/client-1.webp", alt="client-1")
          .clients__info
            h3.clients__name Ресторан Poke Room
            p.clients__location город Самара
            p.clients__feedback Отличное качества шитья, выглядит стильно!
      .swiper-slide.clients__swiper-slide
        .clients__card
          .clients__photo
            picture
                <source type="image/webp" media="(max-width: 767px)" srcset="assets/img/clients/client-1.webp">
                <source type="image/jpg" media="(max-width: 767px)" srcset="assets/img/clients/client-1.jpg">
                img(src="assets/img/clients/client-1.webp", alt="client-1")
          .clients__info
            h3.clients__name Ресторан Poke Room
            p.clients__location город Самара
            p.clients__feedback Отличное качества шитья, выглядит стильно!
      .swiper-slide.clients__swiper-slide
        .clients__card
          .clients__photo
            picture
                <source type="image/webp" media="(max-width: 767px)" srcset="assets/img/clients/client-1.webp">
                <source type="image/jpg" media="(max-width: 767px)" srcset="assets/img/clients/client-1.jpg">
                img(src="assets/img/clients/client-1.webp", alt="client-1")
          .clients__info
            h3.clients__name Ресторан Poke Room
            p.clients__location город Самара
            p.clients__feedback Отличное качества шитья, выглядит стильно!

  .swiper-pagination.clients__swiper-pagination
  .swiper-button-prev.clients__swiper-button-prev
  .swiper-button-next.clients__swiper-button-next 

  .clients__block
    p.clients__block-text Рестораны <span class="clients__block-name">Грабли</span>, <span class="clients__block-name">Черетто</span> и 
      <span class="clients__block-name">Poke Room</span>
      | , кафе 
      <span class="clients__block-name">Груша </span>
      | и бар 
      <span class="clients__block-name">Pachia,</span>
      |  сети&nbsp;кофеен&nbsp;<span class="clients__block-name">Steam Coffee</span>
      | , 
      <span class="clients__block-name">Gardentmn</span>
      | , 
      <span class="clients__block-name">Coffeebtainmsk</span>
      |  и 
      <span class="clients__block-name">Calipso Coffee Roastery</span>
      | , салоны красоты 
      <span class="clients__block-name">Топ Лайн</span>
      |  и 
      <span class="clients__block-name">Sugarbabystudio</span> 
      | , 
      <span class="clients__block-name">Moscow flower school</span>
      | , студия флористики 
      <span class="clients__block-name">Vetki</span>
      |  и ресторан мороженого 
      <span class="clients__block-name">Ванильный шпатель</span>