section.clients
  .clients__dimmed
  .clients__dimmed-photo
  .container.clients__container
    p.clients__description Среди наших клиентов как малый бизнес, так&nbsp;и&nbsp;большие сетевые организации по всей России:

  .swiper-container.clients__swiper-container
    .swiper-wrapper
      .swiper-slide.clients__swiper-slide
        .clients__card
          .clients__photo(data-swiper-parallax='-300')
            picture
                <source type="image/webp" media="(max-width: 767px)" srcset="assets/img/clients/client-1.webp">
                <source type="image/jpg" media="(max-width: 767px)" srcset="assets/img/clients/client-1.jpg">
                img(src="assets/img/clients/client-1.webp", alt="client-1")
          .clients__info
            h3.clients__name(data-swiper-parallax='-200') Ресторан Poke Room
            p.clients__location(data-swiper-parallax='-150') город Самара
            p.clients__feedback(data-swiper-parallax='-100') Отличное качества шитья, выглядит стильно!
      .swiper-slide.clients__swiper-slide
        .clients__card
          .clients__photo(data-swiper-parallax='-300')
            picture
                <source type="image/webp" media="(max-width: 767px)" srcset="assets/img/clients/client-1.webp">
                <source type="image/jpg" media="(max-width: 767px)" srcset="assets/img/clients/client-1.jpg">
                img(src="assets/img/clients/client-1.webp", alt="client-1")
          .clients__info
            h3.clients__name(data-swiper-parallax='-200') Ресторан Poke Room
            p.clients__location(data-swiper-parallax='-150') город Самара
            p.clients__feedback(data-swiper-parallax='-100') Отличное качества шитья, выглядит стильно!
      .swiper-slide.clients__swiper-slide
        .clients__card
          .clients__photo(data-swiper-parallax='-300')
            picture
                <source type="image/webp" media="(max-width: 767px)" srcset="assets/img/clients/client-1.webp">
                <source type="image/jpg" media="(max-width: 767px)" srcset="assets/img/clients/client-1.jpg">
                img(src="assets/img/clients/client-1.webp", alt="client-1")
          .clients__info
            h3.clients__name(data-swiper-parallax='-200') Ресторан Poke Room
            p.clients__location(data-swiper-parallax='-150') город Самара
            p.clients__feedback(data-swiper-parallax='-100') Отличное качества шитья, выглядит стильно!

  .swiper-pagination.clients__swiper-pagination
  .swiper-button-prev.clients__swiper-button-prev
  .swiper-button-next.clients__swiper-button-next 

  .clients__block
    p.clients__block-text Рестораны <span class="clients__block-name" data-url="assets/img/clients/grabli.webp">Грабли</span>, <span class="clients__block-name" data-url="assets/img/clients/poke-room.webp">Черетто</span> и 
      <span class="clients__block-name" data-url="assets/img/clients/poke-room.webp">Poke&nbsp;Room</span>
      | , кафе 
      <span class="clients__block-name" data-url="assets/img/clients/grusha.webp">Груша </span>
      | и бар 
      <span class="clients__block-name" data-url="assets/img/clients/pachia.webp">Pachia,</span>
      |  сети&nbsp;кофеен&nbsp;<span class="clients__block-name" data-url="assets/img/clients/steam.webp">Steam&nbsp;Coffee</span>
      | , 
      <span class="clients__block-name" data-url="assets/img/clients/gardentmn.webp">Gardentmn</span>
      | , 
      <span class="clients__block-name" data-url="assets/img/clients/coffeebtainmsk.webp">Coffeebtainmsk</span>
      |  и 
      <span class="clients__block-name" data-url="assets/img/clients/calipso.webp">Calipso&nbsp;Coffee&nbsp;Roastery</span>
      | , салоны красоты 
      <span class="clients__block-name" data-url="assets/img/clients/poke-room.webp">Топ&nbsp;Лайн</span>
      |  и 
      <span class="clients__block-name" data-url="assets/img/clients/sugarbabystudio.webp">Sugarbabystudio</span> 
      | , 
      <span class="clients__block-name" data-url="assets/img/clients/flower.webp">Moscow&nbsp;flower&nbsp;school</span>
      | , студия флористики 
      <span class="clients__block-name" data-url="assets/img/clients/vetki.webp">Vetki</span>
      |  и ресторан мороженого 
      <span class="clients__block-name" data-url="assets/img/clients/vanill.webp">Ванильный&nbsp;шпатель</span>