section.clients
  .container.clients__container
    p.clients__description Среди наших клиентов как малый бизнес, так&nbsp;и&nbsp;большие сетевые организации по всей России:

  .swiper-container.clients__swiper-container
    .swiper-wrapper
      .swiper-slide.clients__swiper-slide
        .clients__card
          .clients__photo
            picture
                <source type="image/webp" media="(max-width: 767px)" data-srcset="assets/img/clients/client-1.webp">
                <source type="image/jpg" media="(max-width: 767px)" data-srcset="assets/img/clients/client-1.jpg">
                img(src="assets/img/clients/client-1.webp", alt="client-1")
          .clients__info
            h3.clients__name Ресторан Poke Room
            p.clients__location город Самара
            p.clients__feedback Отличное качества шитья, выглядит стильно!
      .swiper-slide.clients__swiper-slide
        .clients__card
          .clients__photo
            picture
                <source type="image/webp" media="(max-width: 767px)" data-srcset="assets/img/clients/client-1.webp">
                <source type="image/jpg" media="(max-width: 767px)" data-srcset="assets/img/clients/client-1.jpg">
                img(src="assets/img/clients/client-1.webp", alt="client-1")
          .clients__info
            h3.clients__name Ресторан Poke Room
            p.clients__location город Самара
            p.clients__feedback Отличное качества шитья, выглядит стильно!
      .swiper-slide.clients__swiper-slide
        .clients__card
          .clients__photo
            picture
                <source type="image/webp" media="(max-width: 767px)" data-srcset="assets/img/clients/client-1.webp">
                <source type="image/jpg" media="(max-width: 767px)" data-srcset="assets/img/clients/client-1.jpg">
                img(src="assets/img/clients/client-1.webp", alt="client-1")
          .clients__info
            h3.clients__name Ресторан Poke Room
            p.clients__location город Самара
            p.clients__feedback Отличное качества шитья, выглядит стильно!

  .swiper-pagination.clients__swiper-pagination
  .swiper-button-prev.clients__swiper-button-prev
  .swiper-button-next.clients__swiper-button-next 