section.design
  .container.design__container
    h2.design__title Дизайн-макет бесплатно, за 1 день
    p.design__subtitle Оставьте заявку и получите дизайн-макет вашей будущей униформы. Сделаем его для вас иничего&nbsp;не возьмем.
    form.form(action="#").design__form
      input(type="text", placeholder="Как вас зовут?").form__input
      input(type="phone", placeholder="Номер телефона").form__input
      textarea(type="text", placeholder="Какая униформа нужна?").form__input.form__input--text
      .button-wrap.design__button-wrap
        button.button.design__button(type="submit") Получить макет и расчёт
        .button-label.design__button-label Free
    p.design__policy Отправляя заявку, вы соглашаетесь с условиями 
      a(href="#").design__policy--strong политики конфиденциальности
  
