section.design
  .container.design__container
    h2.design__title Дизайн-макет бесплатно, за 1 день
    p.design__subtitle Оставьте заявку и получите дизайн-макет вашей будущей униформы. Сделаем его для вас иничего&nbsp;не возьмем.

    form.form(action="#").design__form.design--hidden
      input(type="text", placeholder="Как вас зовут?").form__input.design__form-input
      input(type="text", placeholder="Номер телефона").form__input.design__form-input
      textarea(placeholder="Какая униформа нужна?").form__input.form__input--text
      .button-wrap.design__button-wrap
        button.button.design__button(type="submit") Получить макет и расчёт
        .button-label.design__button-label 
          p.button-labelText Free
      p.design__policy Отправляя заявку, вы соглашаетесь с условиями 
        a(href="#").design__policy--strong политики конфиденциальности

    .design--hiddenMd
      .button-wrap.design__button-wrap
        button.button.design__button Получить макет и расчёт
        .button-label.design__button-label 
          p.button-labelText Free
      p.design__policy Отправляя заявку, вы соглашаетесь с условиями 
        a(href="#").design__policy--strong политики конфиденциальности
  
  .leader
    .leader__info
      strong.leader__info-name Максим Ротару
      p.leader__info-job Старший дизайнер
    h3.leader__title Это бесплатно:)
    p.leader__description «Не переплачивайте на неверном выборе материалов, дорогих способах нанесения логотипа и неправильный подбор размеров. Опишите, какую униформу вы хотите, а наши дизайнеры подговят подробный макет. Это бесплатно и&nbsp;ни к чему не обязывает.»

