section.feedback#feedback
  .swiper-container.feedback__swiper-container
    .swiper-wrapper.feedback__swiper-wrapper
      .swiper-slide.feedback__swiper-slide
        .feedback__card
          .feedback__card-decoration.feedback__card-decoration--top
          .feedback__user
            .feedback__user-photo
               picture
                <source type="image/webp" media="(max-width: 767px)" srcset="assets/img/feedback/user-photo1.webp">
                <source type="image/jpg" media="(max-width: 767px)" srcset="assets/img/feedback/user-photo1.jpg">
                <source type="image/webp" media="(min-width: 768px)" srcset="assets/img/feedback/user-photo1-md.webp">
                <source type="image/jpg" media="(min-width: 768px)" srcset="assets/img/feedback/user-photo1-md.jpg">
                img(src="assets/img/feedback/user-photo1.webp", alt="client-1").feedback__user-img
            div
              strong.feedback__user-name Андрей Степанов
              span.feedback__user-job Директор сети ретсоранов “Сулугуни”
          p.feedback__card-text Хорошая одежда. Отличное качество. Люблю ваш магазин. Стильные образы, отличное качество тканей и пошива изделий.  Стильные образы, отличное качество тканей и пошива изделий.
          span.feedback__card-date 23.02.2020
      .swiper-slide.feedback__swiper-slide
        .feedback__card
          .feedback__card-decoration.feedback__card-decoration--bottom
          .feedback__user
            .feedback__user-photo
                img(src="assets/img/feedback/user-photo2-md.webp", alt="client-2").feedback__user-img
            div
              strong.feedback__user-name Ольга Петрова
              span.feedback__user-job Директор сети ретсоранов “Сулугуни”
          p.feedback__card-text Хорошая одежда. Отличное качество. Люблю ваш магазин. Стильные образы, отличное качество тканей и пошива изделий.
          span.feedback__card-date 23.02.2020
      .swiper-slide.feedback__swiper-slide
        .feedback__card
          .feedback__card-decoration.feedback__card-decoration--top
          .feedback__user
            .feedback__user-photo
              img(src="assets/img/feedback/user-photo3-md.webp", alt="client-1").feedback__user-img
            div
              strong.feedback__user-name Екатерина Иванова
              span.feedback__user-job Директор сети ретсоранов “Сулугуни”
          p.feedback__card-text Хорошая одежда. Отличное качество. Люблю ваш магазин. Стильные образы, отличное качество тканей и пошива изделий. 
          span.feedback__card-date 23.02.2020
      .swiper-slide.feedback__swiper-slide
        .feedback__card
          .feedback__card-decoration.feedback__card-decoration--top
          .feedback__user
            .feedback__user-photo
              img(src="assets/img/feedback/user-photo3-md.webp", alt="client-1").feedback__user-img
            div
              strong.feedback__user-name Екатерина Иванова
              span.feedback__user-job Директор сети ретсоранов “Сулугуни”
          p.feedback__card-text Хорошая одежда. Отличное качество. Люблю ваш магазин. Стильные образы, отличное качество тканей и пошива изделий.
          span.feedback__card-date 23.02.2020
      .swiper-slide.feedback__swiper-slide
        .feedback__card
          .feedback__card-decoration.feedback__card-decoration--top
          .feedback__user
            .feedback__user-photo
              img(src="assets/img/feedback/user-photo3-md.webp", alt="client-1").feedback__user-img
            div
              strong.feedback__user-name Екатерина Иванова
              span.feedback__user-job Директор сети ретсоранов “Сулугуни”
          p.feedback__card-text Хорошая одежда. Отличное качество. Люблю ваш магазин. Стильные образы, отличное качество тканей и пошива изделий.
          span.feedback__card-date 23.02.2020
    
    .swiper-pagination.feedback__swiper-pagination
    .swiper-button-prev.feedback__swiper-button-prev
    .swiper-button-next.feedback__swiper-button-next 

            