section.feedback
  .swiper-container.feedback__swiper-container
    .swiper-wrapper
      .swiper-slide.feedback__swiper-slide
        .feedback__card
          .feedback__user
            .feedback__user-photo
              img(src='assets/img/feedback/user-photo1.webp', alt="user-photo").feedback__user-img
            div
              strong.feedback__user-name Андрей Степанов
              span.feedback__user-job Директор сети ретсоранов “Сулугуни”
          p.feedback__card-text Хорошая одежда. Отличное качество. Люблю ваш магазин. Стильные образы, отличное качество тканей и пошива изделий.
          span.feedback__card-date 23.02.2020
      .swiper-slide.feedback__swiper-slide
        .feedback__card
          .feedback__user
            .feedback__user-photo
              img(src='assets/img/feedback/user-photo1.webp', alt="user-photo").feedback__user-img
            div
              strong.feedback__user-name Андрей Степанов
              span.feedback__user-job Директор сети ретсоранов “Сулугуни”
          p.feedback__card-text Хорошая одежда. Отличное качество. Люблю ваш магазин. Стильные образы, отличное качество тканей и пошива изделий.
          span.feedback__card-date 23.02.2020
      .swiper-slide.feedback__swiper-slide
        .feedback__card
          .feedback__user
            .feedback__user-photo
              img(src='assets/img/feedback/user-photo1.webp', alt="user-photo").feedback__user-img
            div
              strong.feedback__user-name Андрей Степанов
              span.feedback__user-job Директор сети ретсоранов “Сулугуни”
          p.feedback__card-text Хорошая одежда. Отличное качество. Люблю ваш магазин. Стильные образы, отличное качество тканей и пошива изделий.
          span.feedback__card-date 23.02.2020
    
    .swiper-pagination.feedback__swiper-pagination
    .swiper-button-prev.feedback__swiper-button-prev
    .swiper-button-next.feedback__swiper-button-next 

            