footer.footer
    .container.footer__container
        .footer__wrap
            a.footer__logo(href="index.html")
                img(src="assets/img/footer-logo.webp", alt="logo")
                p.footer__logo-text since 2015
            .footer__navigation
                .footer__navigation-block.footer-block
                    a.footer__navigation-item(href="#catalog") Каталог
                    a.footer__navigation-item(href="#quality") Качество
                    a.footer__navigation-item(href="#production") Производство
                .footer__navigation-block.footer-block
                    a.footer__navigation-item(href="#feedback") Отзывы
                    a.footer__navigation-item(href="#questions") Вопрос-ответ
                    a.footer__navigation-item(href="#contacts") Контакты
            d.footer-block.footer__contacts-block
                a(href="#").web-site info@site.com
                .footer__contacts
                    a(href="tel:88003503745").phone.footer__contacts-phone 8 800 350-37-45
                    button.phone-button Заказать звонок
        .footer__info
            .footer-block.footer__info-block.footer__info-block--left
                p.footer__info-item 2005 - 2020. шью, Все права защищены
                a(href="#").footer__info-item Политика конфиденциальности
            .footer-block.footer__info-block.footer__info-block--right
                p.footer__info-item Нижний Новгород,  Московское шоссе, 105 стр. 2
                p.footer__info-item.footer__info-link Сделано в 
                    a.href(href="#").footer__link riverstart

        