header.header
    .container.header__container
        a(href="index.html").header__menu меню
        .header__logo
            picture
                <source type="image/svg+xml" media="(max-width: 767px)" srcset="assets/img/header-logo.svg">
                <source type="image/svg+xml" media="(min-width: 768px)" srcset="assets/img/header-logo-md.svg">
                <img class="lazyload" src="assets/img/header-logo.svg" alt="logo">
            //- img(src="assets/img/header-logo.svg", alt="logo")
        button.header__button Заказать Звонок
        .header__contacts 
             a(href="tel:88003503745").phone.header__contacts-phone 8 800 350-37-45
             button.header__contacts-button Заказать Звонок
             a(href="#").web-site.header__contacts-web-site info@site.com


