header.header
    .container.header__container
        .header__menu
            span.header__menu-button меню
            .header__menu-close +
            .header__menu-expand
                a.header__menu-item(href="#catalog") Каталог
                a.header__menu-item(href="#quality") Качество
                a.header__menu-item(href="#production") Производство
                a.header__menu-item(href="#feedback") Отзывы
                a.header__menu-item(href="#questions") Вопрос-ответ
                a.header__menu-item(href="#contacts") Контакты
                .header__menu-contacts
                    a(href="tel:88003503745").phone.header__menu-phone 8 800 350-37-45
                    a(href="#").web-site.header__menu-site info@site.com
        .header__navigation
            a.header__navigation-item(href="#catalog") Каталог
            a.header__navigation-item(href="#quality") Качество
            a.header__navigation-item(href="#production") Производство
            a.header__navigation-item(href="#feedback") Отзывы
            a.header__navigation-item(href="#questions") Вопрос-ответ
        a.header__logo(href="index.html")
            picture
                <source type="image/svg+xml" media="(max-width: 767px)" srcset="assets/img/header-logo.svg">
                <source type="image/svg+xml" media="(min-width: 1450px)" srcset="assets/img/header-logo-lg.svg">
                //- <source type="image/svg+xml" media="(min-width: 1450px)" srcset="assets/img/header-logo-lg.svg">
                //- <source type="image/webp" media="(min-width: 1450px)" srcset="assets/img/header-logo-lg.webp">
                <img class="lazyload" src="assets/img/header-logo.svg" alt="logo">
                p.header__logo-text since 2015
        a.header__navigation-item(href="#") Контакты
        button.header__button Заказать Звонок
        .header__contacts 
             a(href="tel:88003503745").phone.header__contacts-phone 8 800 350-37-45
             button.header__contacts-button Заказать Звонок
             a(href="#").web-site.header__contacts-web-site info@site.com


