header.header
    .container.header__container
        a(href="index.html").header__menu меню
        .header__logo
            img(src="assets/images/header-logo.svg")
        button.header__button Заказать Звонок
