.container.hero__container
  h1.hero__title Униформа для персонала без переплат от производителя
  h3.hero__subtitle Изготовим униформу от 2 дней и доставим по всей России
  .button-wrap
    button.hero__button.button Получить бесплатный дизайн
    .button-label free