section.instruction
  .instruction__container
    .instruction__block
      h2.instruction__title Мы собрали
        br
        | подробную
        br
        | инструкцию 
        br
        | по уходу
        br
        | за&nbsp;униформой
    .instruction__card
      .instruction__card-wrap
        h3.instruction__card-title В инструкции в вашей посылке вы найдёте
        ul.instruction__card-list
          li.instruction__card-item Разрешённые способы стирки
          li.instruction__card-item При какой температуре стирать
          li.instruction__card-item Можно ли отпаривать вещь
          li.instruction__card-item Важные особенности определённой модели