section.model#quality
  .model__card
    .model__buttons
      button.model__button.model__button-shoulder(data-name="shoulder") &#43;
      button.model__button.model__button-pocket(data-name="pocket", align="center") +
      button.model__button.model__button-robe(data-name="robe") +
      button.model__button.model__button-loop(data-name="loop") +
      button.model__button.model__button-neck.button--expand.button--close(data-name="neck")
    .model__info
      p.model__info-subtitle Натуральная кожа гарантирует долговечность, надежность и презентабельный вид
      h2.model__info-title ТОЛЬКО НАТУРАЛЬНАЯ КОЖА ДЛЯ КРЕПЛЕНИЙ
  
  .swiper-container.model__swiper-container
    .swiper-wrapper.model__swiper-wrapper
      .swiper-slide.model__swiper-slide
        .model__advantages
          p.model__advantages-subtitle(data-swiper-parallax="-200") высокая точность без потери качества
          span.model__advantages-number 01
          h2.model__advantages-title(data-swiper-parallax="-150") Вышивка самых сложных логотипов
      .swiper-slide.model__swiper-slide
        .model__advantages
          p.model__advantages-subtitle(data-swiper-parallax="-200") высокая точность без потери качества
          span.model__advantages-number 02
          h2.model__advantages-title(data-swiper-parallax="-150") Вышивка самых сложных логотипов
      .swiper-slide.model__swiper-slide
        .model__advantages
          p.model__advantages-subtitle(data-swiper-parallax="-200") высокая точность без потери качества
          span.model__advantages-number 03
          h2.model__advantages-title(data-swiper-parallax="-150") Вышивка самых сложных логотипов
      .swiper-slide.model__swiper-slide
        .model__advantages
          p.model__advantages-subtitle(data-swiper-parallax="-200") высокая точность без потери качества
          span.model__advantages-number 04
          h2.model__advantages-title(data-swiper-parallax="-150") Вышивка самых сложных логотипов
      .swiper-slide.model__swiper-slide
        .model__advantages
          p.model__advantages-subtitle(data-swiper-parallax="-200") высокая точность без потери качества
          span.model__advantages-number 05
          h2.model__advantages-title(data-swiper-parallax="-150") Вышивка самых сложных логотипов
    .swiper-pagination.model__swiper-pagination
    .swiper-button-prev.model__swiper-button-prev
    .swiper-button-next.model__swiper-button-next
