section.model
  .model__card
    .model__buttons
      button.model__button.model__button-shoulder +
      button.model__button.model__button-pocket +
      button.model__button.model__button-robe +
      button.model__button.model__button-loop +
      button.model__button.model__button-neck.button--expand.button--close 
    .model__info
      p.model__info-subtitle высокая точность без потери качества
      h2.model__info-title Вышивка самых сложных логотипов
