section.model#quality
  .model__card
    .model__buttons
      .model__button-shoulder
        button.model__button +
        p.model__button-text 100 % ХЛОПОК ПРОЧНОГО ПЛЕТЕНИЯ Натуральная дышащая ткань —  комфорт в любое время года

      button.model__button.model__button-pocket +
      button.model__button.model__button-robe +
      button.model__button.model__button-loop +
      button.model__button.model__button-neck.button--expand.button--close 
    .model__info
      p.model__info-subtitle высокая точность без потери качества
      h2.model__info-title Вышивка самых сложных логотипов
  
  .swiper-container.model__swiper-container
    .swiper-wrapper.model__swiper-wrapper
      .swiper-slide.model__swiper-slide
        .model__advantages
          p.model__advantages-subtitle(data-swiper-parallax="-200") высокая точность без потери качества
          span.model__advantages-number 01
          h2.model__advantages-title(data-swiper-parallax="-150") Вышивка самых сложных логотипов
      .swiper-slide.model__swiper-slide
        .model__advantages
          p.model__advantages-subtitle(data-swiper-parallax="-200") высокая точность без потери качества
          span.model__advantages-number 02
          h2.model__advantages-title(data-swiper-parallax="-150") Вышивка самых сложных логотипов
      .swiper-slide.model__swiper-slide
        .model__advantages
          p.model__advantages-subtitle(data-swiper-parallax="-200") высокая точность без потери качества
          span.model__advantages-number 03
          h2.model__advantages-title(data-swiper-parallax="-150") Вышивка самых сложных логотипов
      .swiper-slide.model__swiper-slide
        .model__advantages
          p.model__advantages-subtitle(data-swiper-parallax="-200") высокая точность без потери качества
          span.model__advantages-number 04
          h2.model__advantages-title(data-swiper-parallax="-150") Вышивка самых сложных логотипов
      .swiper-slide.model__swiper-slide
        .model__advantages
          p.model__advantages-subtitle(data-swiper-parallax="-200") высокая точность без потери качества
          span.model__advantages-number 05
          h2.model__advantages-title(data-swiper-parallax="-150") Вышивка самых сложных логотипов
    .swiper-pagination.model__swiper-pagination
    .swiper-button-prev.model__swiper-button-prev
    .swiper-button-next.model__swiper-button-next
