section.office
  .container.office__container
    h3.office__title Офис в Нижнем Новгороде. Работаем по всей России
    p.office__description 480 м2 производства с уникальным японским оборудованием, автоматизированные линии шитья и 80 человек в штате. Приезжайте в гости, всё покажем и расскажем.
    p.office__location Нижний Новгород, Московской шоссе, 105 стр.&nbsp;2
    a.office__phone(href="tel:+88003503745") 8 800 350 37 45
    a.office__site(href="#") info@site.ru
    p.office__schedule Работаем по будням с 9:00 до 19:00
  
.office__map#mapid