.popup__dimm
.popup
  .container.popup__container
    
    button.popup__close-fixed.popup__close-button Закрыть
    .popup__close-button Закрыть
    a(href="#popupForm").button.popup__button Получить каталог
    h2.popup__title Униформа от&nbsp;производителя

  .swiper-container.popup__swiper-container
    .swiper-wrapper.popup__swiper-wrapper
      .swiper-slide.popup__swiper-slide
        .pluses.popup__pluses.pluses--left
          h3.pluses__title Индивидуальный дизайн и пошив под&nbsp;вашу компанию
          p.pluses__subtitle благодаря собственному производству
        .pluses.popup__pluses.pluses--middle
          h3.pluses__title Цены на 20%
              br
              | ниже
              br
              | рыночных
          p.pluses__subtitle от фартуков до арбрендов и головных уборов
        .pluses.popup__pluses.pluses--right
          h3.pluses__title Возможен срочный пошив за&nbsp;1-2 дня
          p.pluses__subtitle на японском оборудовании Tajima

  .container.popup__container 
    h2.popup__title.popup__title--lower Некоторые модели
    p.popup__description Ниже представлена маленькая часть нашего каталога. Любую модель мы можем переделать под ваш вкус: изменить материал, цвет, нанести логотип, совместить детали из разных моделей в одну.

  .popup__model-wrap
    .popup__model
      .popup__model-img
        picture
          <source type="image/webp" srcset="assets/img/popup/st13.webp">
          <source type="image/jpg" srcset="assets/img/popup/st13.jpg">
          img(src="assets/img/popup/st13.webp", alt="client-1")
        .popup__model-price 1700 ₽ 
      .popup__model-name Фартук st13
    .popup__model
      .popup__model-img
        picture
          <source type="image/webp" srcset="assets/img/popup/st14.webp">
          <source type="image/jpg" srcset="assets/img/popup/st14.jpg">
          img(src="assets/img/popup/st14.webp", alt="client-1")
        .popup__model-price 2000 ₽ 
      .popup__model-name Фартук st14
    .popup__model
      .popup__model-img
        picture
          <source type="image/webp" srcset="assets/img/popup/st15.webp">
          <source type="image/jpg" srcset="assets/img/popup/st15.jpg">
          img(src="assets/img/popup/st15.webp", alt="client-1")
        .popup__model-price 1700 ₽ 
      .popup__model-name Фартук st15
    .popup__model
      .popup__model-img
        picture
          <source type="image/webp" srcset="assets/img/popup/st16.webp">
          <source type="image/jpg" srcset="assets/img/popup/st16.jpg">
          img(src="assets/img/popup/st16.webp", alt="client-1")
        .popup__model-price 1700 ₽ 
      .popup__model-name Фартук st16
    .popup__model
      .popup__model-img
        picture
          <source type="image/webp" srcset="assets/img/popup/st17.webp">
          <source type="image/jpg" srcset="assets/img/popup/st17.jpg">
          img(src="assets/img/popup/st17.webp", alt="client-1")
        .popup__model-price 1700 ₽ 
      .popup__model-name Фартук st17
    .popup__model
      .popup__model-img
        picture
          <source type="image/webp" srcset="assets/img/popup/st18.webp">
          <source type="image/jpg" srcset="assets/img/popup/st18.jpg">
          img(src="assets/img/popup/st18.webp", alt="client-1")
        .popup__model-price 1700 ₽ 
      .popup__model-name Фартук st18
    .popup__model
      .popup__model-img
        picture
          <source type="image/webp" srcset="assets/img/popup/st19.webp">
          <source type="image/jpg" srcset="assets/img/popup/st19.jpg">
          img(src="assets/img/popup/st19.webp", alt="client-1")
        .popup__model-price 1700 ₽ 
      .popup__model-name Фартук st19
    .popup__model
      .popup__model-img
        picture
          <source type="image/webp" srcset="assets/img/popup/st20.webp">
          <source type="image/jpg" srcset="assets/img/popup/st20.jpg">
          img(src="assets/img/popup/st20.webp", alt="client-1")
        .popup__model-price 700 ₽  
      .popup__model-name Фартук st20
    .popup__model
      .popup__model-img
        picture
          <source type="image/webp" srcset="assets/img/popup/st21.webp">
          <source type="image/jpg" srcset="assets/img/popup/st21.jpg">
          img(src="assets/img/popup/st21.webp", alt="client-1")
        .popup__model-price 1700 ₽  
      .popup__model-name Фартук st21

  .popup__title.popup__title--lower Стильный персонал в&nbsp;нашей одежде

  .swiper-container.sliderModel__swiper-container
    .swiper-wrapper.sliderModel__swiper-wrapper
      .swiper-slide 
        .sliderModel__uniform
          picture
            <source type="image/webp" media="(max-width: 767px)" srcset="assets/img/popup/slider-model-blue.webp">
            <source type="image/jpg" media="(max-width: 767px)" srcset="assets/img/popup/slider-model-blue.jpg">
            <source type="image/webp" media="(min-width: 768px)" srcset="assets/img/popup/slider-model-blue-md.webp">
            <source type="image/jpg" media="(min-width: 768px)" srcset="assets/img/popup/slider-model-blue-md.jpg">
            img(src="assets/img/popup/slider-model-blue.webp", alt="uniform-blue")
      .swiper-slide 
        .sliderModel__uniform
          picture
            <source type="image/webp" media="(max-width: 767px)" srcset="assets/img/popup/slider-model-blue.webp">
            <source type="image/jpg" media="(max-width: 767px)" srcset="assets/img/popup/slider-model-blue.jpg">
            img(src="assets/img/popup/slider-model-blue.webp", alt="uniform-blue")
      .swiper-slide 
        .sliderModel__uniform
          picture
            <source type="image/webp" media="(max-width: 767px)" srcset="assets/img/popup/slider-model-blue.webp">
            <source type="image/jpg" media="(max-width: 767px)" srcset="assets/img/popup/slider-model-blue.jpg">
            img(src="assets/img/popup/slider-model-blue.webp", alt="uniform-blue")
    .swiper-pagination.sliderModel__swiper-pagination
    .swiper-button-prev.sliderModel__swiper-button-prev
    .swiper-button-next.sliderModel__swiper-button-next 
  
  .container.popup__container
    .popup__title.popup__title--big Полный каталог моделей у вас на&nbsp;почте за 3 минуты  
    button.popup__button.popup__button--rounded Дизайн  в подарок
    p.popup__description.popup__description--big Укажите свои контактные данные для скачивания каталога моделей для персонала ресторанов, кафе, пабов и фудкортов с ценами.

    form.form(action="#").popup__form#popupForm
      input.form__input.popup__input(type="text", placeholder="Как вас зовут?", name="userName")
      input.form__input.popup__input(type="tel", placeholder="Номер телефона", name="userPhone")
      .form__policy-wrap
        input.form__checkbox(type="checkbox", id="policy-checkbox", checked) 
        label.form__policy(for="policy-checkbox") Ознакомлен с политикой конфиденциальности
      .button-wrap
        button.button(type="submit", form="popupForm").form-button.popup__form-button Скачать полный каталог
        .button-label.popup__button-label 
          p.button-labelText free

 
    
