.popup.hidden
  .container.popup__container
    .popup__close-button Закрыть
    .button.popup__button Получить каталог
    h2.popup__title Униформа от&nbsp;производителя

  .swiper-container.benefits2__swiper-container
    .swiper-wrapper.benefits__swiper-wrapper
      .swiper-slide.popup__swiper-slide
        .benefits__card.benefits__card--left
          h3.popup__card-title Индивидуальный дизайн и пошив под&nbsp;вашу компанию
          p.popup__card-subtitle благодаря собственному производству
        .benefits__card.benefits__card
          h3.popup__card-title Цены на 20%
              br
              | ниже
              br
              | рыночных
          p.popup__card-subtitle от фартуков до арбрендов и головных уборов
        .benefits__card.benefits__card--right
          h3.popup__card-title Возможен срочный пошив за 1-2 дня
          p.popup__card-subtitle на японском оборудовании Tajima

  .container.popup__container 
    h2.popup__title.popup__title--lower Некоторые модели
    p.popup__description Ниже представлена маленькая часть нашего каталога. Любую модель мы можем переделать под ваш вкус: изменить материал, цвет, нанести логотип, совместить детали из разных моделей в одну.

  .popup__model-wrap
    .popup__model
      .popup__model-img
        picture
          <source type="image/webp" media="(max-width: 767px)" srcset="assets/img/popup/model-black.webp">
          <source type="image/jpg" media="(max-width: 767px)" srcset="assets/img/popup/model-black.jpg">
          img(src="assets/img/popup/model-black.webp", alt="client-1")
        .popup__model-price 1080 
      .popup__model-name Фартук черный короткий
    .popup__model
      .popup__model-img
        picture
          <source type="image/webp" media="(max-width: 767px)" srcset="assets/img/popup/model-green.webp">
          <source type="image/jpg" media="(max-width: 767px)" srcset="assets/img/popup/model-green.jpg">
          img(src="assets/img/popup/model-green.webp", alt="model-green")
        .popup__model-price 3080 
      .popup__model-name Фартук черный короткий
    .popup__model
      .popup__model-img
        picture
          <source type="image/webp" media="(max-width: 767px)" srcset="assets/img/popup/model-56.webp">
          <source type="image/jpg" media="(max-width: 767px)" srcset="assets/img/popup/model-56.jpg">
          img(src="assets/img/popup/model-56.webp", alt="model-56")
        .popup__model-price 4080 
      .popup__model-name Фартук №56
    .popup__model
      .popup__model-img
        img(src="assets/img/popup/model-black.webp", alt="model-black")
        .popup__model-price 1080 
      .popup__model-name Фартук черный короткий

  .popup__title.popup__title--lower Стильный персонал в&nbsp;нашей одежде

  .swiper-container.sliderModel__swiper-container
    .swiper-wrapper.sliderModel__swiper-wrapper
      .swiper-slide 
        .sliderModel__uniform
          picture
            <source type="image/webp" media="(max-width: 767px)" srcset="assets/img/popup/slider-model-blue.webp">
            <source type="image/jpg" media="(max-width: 767px)" srcset="assets/img/popup/slider-model-blue.jpg">
            img(src="assets/img/popup/slider-model-blue.webp", alt="uniform-blue")
      .swiper-slide 
        .sliderModel__uniform
          picture
            <source type="image/webp" media="(max-width: 767px)" srcset="assets/img/popup/slider-model-blue.webp">
            <source type="image/jpg" media="(max-width: 767px)" srcset="assets/img/popup/slider-model-blue.jpg">
            img(src="assets/img/popup/slider-model-blue.webp", alt="uniform-blue")
      .swiper-slide 
        .sliderModel__uniform
          picture
            <source type="image/webp" media="(max-width: 767px)" srcset="assets/img/popup/slider-model-blue.webp">
            <source type="image/jpg" media="(max-width: 767px)" srcset="assets/img/popup/slider-model-blue.jpg">
            img(src="assets/img/popup/slider-model-blue.webp", alt="uniform-blue")
    .swiper-pagination.sliderModel__swiper-pagination
    .swiper-button-prev.sliderModel__swiper-button-prev
    .swiper-button-next.sliderModel__swiper-button-next 
  
  .container.popup__container
    .popup__title.popup__title--big Полный каталог моделей у вас на&nbsp;почте за 3 минуты  
    button.button.popup__button.popup__button--rounded Дизайн  в подарок
    p.popup__description.popup__description--big Укажите свои контактные данные для скачивания каталога моделей для персонала ресторанов, кафе, пабов и фудкортов с ценами.

    form.form(action="#").popup__form
    input.form__input.popup__input(type="text", placeholder="Как вас зовут?")
    input.form__input.popup__input(type="text", placeholder="Номер телефона")
    .form__policy-wrap
      input.form__checkbox(type="checkbox", id="policy-checkbox") 
      label.form__policy(for="policy-checkbox") Ознакомлен с политикой конфиденциальности
    .button-wrap
      button.button(type="submit").form-button.popup__form-button Скачать полный каталог
      .button-label.popup__button-label 
        p.button-labelText free

 
    
