section.questions#questions
  .container.questions__container
    .questions__card
      button.collapsible.questions__collapsible Какую ткань подобрать для&nbsp;формы
      .expand-content
        p.questions__text Для каждого вида формы мы предлагаем 2-4 варианта материалов. Все материалы имеют сертификаты, ткани качественные, краска держится отлично. Основное отличие в воздухопроницаемости и растяжимости материала, а значит — в уровне комфорта. Наши специалисты подробно расскажут о каждом виде материала.
    .questions__card
      button.collapsible.questions__collapsible Оплата и доставка
      .expand-content
        p.questions__text Заказать можно он-лайн, посредством: эл.почты, мессенжеров (WA, Viber, Telegram), директ Инстаграм или телефонный звонок. Оплата по безналичному расчету (мы выставим счет) или на карту Сбербанка. Так же возможно сделать и оплатить заказ он-лайн на сайте. Наложенным платежом продукцию не отправляем. Мы работаем с транспортными компаниями Сдек, ПЭК, Деловые линии. средний срок доставки по России 2-4 дня, стоимость от 200 до 400 рублей.
    .questions__card
      button.collapsible.questions__collapsible Делаете ли брендирование одежды
      .expand-content
        p.questions__text Рекомендуем вышивку ,смотрится очень хорошо и держится очень долго. Вышивка производится на японском оборудовании, что позволяет нанести ваш логотип с идеальной точностью и прошить даже самые мелкие детали. Для расчета стоимости и изготовления вышивки необходим ваш логотип в формате pdf или coral.
    .questions__card
      button.collapsible.questions__collapsible Можно ли подобрать ткань и цвет индвидуально
      .expand-content
        p.questions__text Возможно при заказе от 5 шт. мы заменим цвет, карманы, отделку, фурнитуру от других моделей наших фартуков.
    .questions__card
      button.collapsible.questions__collapsible можно получить закрывающие документы
      .expand-content
        p.questions__text 
              | Да, конечно, счет-фактура, акт выполненных работ будет предоставлена по требованию.
              |  Накладная предоставляется всегда вместе с посылкой для юридических лиц и индивидуальных предпринимателей.
    .questions__card
      button.collapsible.questions__collapsible как ухаживать за одеждой
      .expand-content
        p.questions__text 
              |  Перед стиркой обязательно отстегните подтяжки (если они предусмотрены у модели).
              |  Фартуки из канваса рекомендуем стирать до 30 градусов без отжима.
              |  Фартуки джинсовые и х\б до 50 градусов с отжимом.
              |  Фартуки из кожзама не стирают и не глядят. Самое простое протирать сырой губкой.
              |  Фартук требует бережное к нему отношение что продлит его срок службы.
