section.questions
  .container.questions__container
    .questions__card
      button.collapsible.questions__collapsible Какую ткань подобрать для&nbsp;формы
      .expand-content
        p.questions__text Для каждого вида формы мы предлагаем 2-4 варианта материалов. Все материалы имеют сертификаты, ткани качественные, краска держится отлично. Основное отличие в воздухопроницаемости и растяжимости материала, а значит — в уровне комфорта. Наши специалисты подробно расскажут о каждом виде материала.
    .questions__card
      button.collapsible.questions__collapsible Оплата и доставка
      .expand-content
        p.questions__text Для каждого вида формы мы предлагаем 2-4 варианта материалов. Все материалы имеют сертификаты, ткани качественные, краска держится отлично. Основное отличие в воздухопроницаемости и растяжимости материала, а значит — в уровне комфорта. Наши специалисты подробно расскажут о каждом виде материала.
    .questions__card
      button.collapsible.questions__collapsible Делаете ли брендирование одежды
      .expand-content
        p.questions__text Для каждого вида формы мы предлагаем 2-4 варианта материалов. Все материалы имеют сертификаты, ткани качественные, краска держится отлично. Основное отличие в воздухопроницаемости и растяжимости материала, а значит — в уровне комфорта. Наши специалисты подробно расскажут о каждом виде материала.
    .questions__card
      button.collapsible.questions__collapsible Можно ли подобрать ткань и цвет индвидуально
      .expand-content
        p.questions__text Для каждого вида формы мы предлагаем 2-4 варианта материалов. Все материалы имеют сертификаты, ткани качественные, краска держится отлично. Основное отличие в воздухопроницаемости и растяжимости материала, а значит — в уровне комфорта. Наши специалисты подробно расскажут о каждом виде материала.
    .questions__card
      button.collapsible.questions__collapsible можно получить закрывающие документы
      .expand-content
        p.questions__text Для каждого вида формы мы предлагаем 2-4 варианта материалов. Все материалы имеют сертификаты, ткани качественные, краска держится отлично. Основное отличие в воздухопроницаемости и растяжимости материала, а значит — в уровне комфорта. Наши специалисты подробно расскажут о каждом виде материала.
    .questions__card
      button.collapsible.questions__collapsible как ухаживать за одеждой
      .expand-content
        p.questions__text Для каждого вида формы мы предлагаем 2-4 варианта материалов. Все материалы имеют сертификаты, ткани качественные, краска держится отлично. Основное отличие в воздухопроницаемости и растяжимости материала, а значит — в уровне комфорта. Наши специалисты подробно расскажут о каждом виде материала.
