section.uniforms
  .container.uniforms__container
    p.uniforms__subtitle Производим стильную униформу высокого качества с 2015 года
    h3.uniforms__title Каталог униформы
    .uniforms__card.uniforms__card--first
      span.uniforms__card-label на фото:
      p.uniforms__card-description фартуки для сети ресторанов «Сулугуни»
      p.uniforms__card-name Рестораны, кафе,
        span.uniforms__card-name--primary пабы, фудкорты
    .uniforms__card.uniforms__card--second
      span.uniforms__card-label на фото:
      p.uniforms__card-description фартуки для барбершопа  «Big big» 
      p.uniforms__card-name Парикмахерские 
        span.uniforms__card-name--primary и салоны красоты
    .uniforms__card.uniforms__card--third
      span.uniforms__card-label на фото:
      p.uniforms__card-description фартуки для винного бутика
      p.uniforms__card-name Винные бутики 
        span.uniforms__card-name--primary и премиум заведения
    .uniforms__button смотреть модели