.clients {
  background: #000000 url('../img/clients/clients-bg.webp') no-repeat center / cover;
  color: $color-white;
  padding-top: 70px;
  padding-bottom: 70px;
  &__description {
    font-family: 'Century Gothic Regular' !important; 
    text-align: center;
    margin: 0 auto;
    max-width: 187px;
    margin-bottom: 20px;
    @include font(16px, -0.03em, 20px);
  }
  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__name {
    @include font(20px, -0.04em, 32px);
  }
  &__location {
   font-size: 13px;
   line-height: 28px;
   font-family: 'Segoe UI Regular' !important;
   opacity: 0.7;
   margin-bottom: 10px;
  }
  &__feedback {
    font-family: 'Segoe UI Regular' !important;
    line-height: 20px;
    max-width: 238px;
  }

}

.clients__swiper-pagination {
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%) !important;
  .swiper-pagination-bullet {
    margin-right: 2px;
    width: 24px !important;
    height: 2px !important;
    background: #ffffff !important; 
    border-radius: 0 !important;
  }
}

.clients__swiper-button-next:after {
  content: url('../img/clients/arrow-next.svg') !important;
}

.clients__swiper-button-prev:after {
  content: url('../img/clients/arrow-prev.svg') !important;
}

.clients__swiper-button-next:after, .swiper-button-prev:after {
  top: 223px;
}