.hero {
  &__container {
    padding-top: 56px;
    padding-bottom: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    text-align: center;
    text-transform: uppercase;
    @include font(25px, -0.03em, 30px);
    padding-bottom: 33px;
  }
  &__subtitle {
    font-family: 'Segoe UI Regular' !important;
    @include font(14px, -0.01em, 19px);
    text-align: center;
    padding-bottom: 55px;
  }
}