@media (min-width: 1250px) {
  .photos {
    &__info {
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      position: absolute;
      bottom: -64px;
      left: 0;
      width: 100%;
      justify-content: space-between;
      &-name {
        max-width: 167px;
        text-align: right;
      }
    }
    &__swiper-slide {
      position: relative;
      cursor: pointer;
      &:hover .photos__info {
        display: block;
        display: flex;
      }
    }
  }

  .banner__wrap--active {
    background: url('../img/carousel/banner-bg.webp');
    .banner__title {
      color: transparent;
      -webkit-text-stroke: 1px rgba(#FFFFFF, 0.4);
      // text-shadow: '-2px 2px 0 rgba(#fff, 0.4), 2px 2px 0 rgba(#fff, 0.4), 2px -2px 0 rgba(#fff, 0.4), -2px -2px 0 rgba(#fff, 0.4)';
    }
  }

  .button {
    border: 1px solid #1E1E1E;
    transition: all 0.2s;
    &:hover {
      background-color: #FFFFFF;
      color: $color-base;
    }
  }

  .stages__card-button {
    transition: all 0.2s;
    &:hover {
      background-color: $color-base;
      color: #FFFFFF;
    }
  }

  .uniforms__button {
    transition: background-color 0.2s;
    &:hover {
      background-color: lighten(#D1CABC, 5%);
    }
  }
}