.instruction {
  background: #E4E4E4 url(../img/instruction/instruction-bg.webp) no-repeat center;
  // background-color: #E4E4E4;
  &__block {
    // background: url(../img/instruction/bags.webp) no-repeat -14px 5px;
    background-size: 139%;
    padding-top: 107px;
  }
  &__title {
    color: $color-white;
    background-color: #C4BCBC;
    text-transform: uppercase;
    padding: 29px 20px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    @include font(35px, -0.05em, 45px);
  }
  &__card {
    // background: url(../img/instruction/blue-bag.webp) no-repeat 0 214px;
    background-size: 100%;
    padding-left: 25px;
    padding-right: 20px;
    padding-bottom: 285px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-title {
      margin-top: 21px;
      margin-bottom: 15px;
      width: 279px;
      font-family: 'Segoe UI SemiBold' !important; 
      @include font(18px, -0.01em, 28px);
    }
    &-list {
      font-family: 'Segoe UI Regular' !important; 
      @include font(12px, -0.01em, 28px);
      width: 250px;
      margin-left: 23px;
    }
    &-item {
      color: #5F5F5F;
      margin-bottom: 12px;
      position: relative;
      &::before {
        content: ' ';
        position: absolute;
        top: 50%;
        left: -22px;
        transform: translateY(-50%);
        display: inline-block;
        margin-right: 11px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #C4BCBC;
      }
    }
  }
}