@media(min-width: 321px) {
  // design
  .leader {
    background: url('../img/design/designer-photo-md.webp') no-repeat center / cover;
  }

  // model
  .model {
    &__card {
      background: url('../img/model/model-photo-md.webp') no-repeat 66% 0;
    }
  }
}

@media(min-width: 450px) {
  // office
  .office__container {
    &::before {
      right: -14%;
    }
  }

  // carousels
  .benefits {
    &__swiper-slide {
      display: flex;
      justify-content: center;
    }
  }
}