.model {
    background-color: #e3e8ec;

    &__swiper-container {
        max-width: 320px !important;
        margin-left: auto;
        margin-right: auto;
    }

    &__card {
        display: none;
        // display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 400px;
        background: rgb(197, 198, 202);
        background: linear-gradient(
            90deg,
            rgba(197, 198, 202, 1) 0%,
            rgba(213, 214, 216, 1) 55%
        );
    }

    &__buttons {
        margin-left: 40px;
        position: relative;
        height: 100%;
        width: 280px;
        // float: right;
        // left: 25px;
        background: transparent;
        // z-index: 10;
        background: url("../img/model/girl-lg.png") no-repeat 76% 0% / cover;
        background-size: 286%;
    }

    &__button {
        position: absolute;
        width: 19px;
        height: 19px;
        border: 1px solid #cbc3b3;
        background-color: $color-white;
        color: #313131;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &-ring {
            opacity: 0;
            // transform: rotate(45deg);
        }

        &:hover {
            border: 1px solid $color-base;
            background-color: $color-base;
            color: #d1cabc;
        }

        @include flex-center();

        &-shoulder {
            left: 28px;
            top: 145px;
        }

        &-robe {
            left: 130px;
            top: 155px;
        }

        &-pocket {
            left: 97px;
            top: 234px;
        }

        &-loop {
            right: 63px;
            top: 164px;
        }

        &-neck {
            display: flex;
            justify-content: center;
            left: 13%;
            top: 37%;
        }

        &-text {
            position: absolute;
            display: none;
            font-size: 12px;
            // line-height: 28px;
            /* or 175% */
            letter-spacing: -0.01em;
            color: #ffffff;
            max-width: 131px;
            top: -36px;
            left: -29px;
            top: -6px;
        }
    }

    &__info {
        left: 26%;
        transform: translateX(-50%);
        position: absolute;
        bottom: 0;
        // left: 20px;
        max-width: 140px;
        color: $color-white;
        text-transform: uppercase;

        &-subtitle {
            font-family: "Century Gothic Regular" !important;
            margin-bottom: 14px;
            transition: opacity 0.2s ease-in-out;
            @include font(11px, 0.02em, 11px);
        }

        &-title {
            transition: opacity 0.2s ease-in-out;
            @include font(30px, -0.04em, 25px);
        }
    }

    &__advantages {
        position: relative;
        height: 284px;

        padding-right: 24px;
        padding-left: 24px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;

        &-subtitle {
            margin-top: 31px;
            margin-bottom: 19px;
            // margin-left: -150px;
            font-family: "Century Gothic Regular" !important;
            text-transform: uppercase;
            color: #757575;
            @include font(11px, 0.02em, 11px);
            width: 138px;
            max-width: 45%;
        }

        &-title {
            text-transform: uppercase;
            @include font(30px, -0.04em, 25px);
            // max-width: 70%;
            width: 194px;
            // margin-left: -98px;
        }

        &-number {
            right: 24px;
            position: absolute;
            color: #c4bcbc;
            @include font(30px, -0.03em, 75px);
            flex-basis: 50%;
            text-align: right;
        }
    }
}

.model__swiper-button-next:after {
    content: url("../img/stages/arrow-next.svg") !important;
    right: 72%;
}

.model__swiper-button-prev:after {
    content: url("../img/stages/arrow-prev.svg") !important;
    left: 72%;
}

.model__swiper-button-next,
.model__swiper-button-prev {
    top: 218px !important;
}

.model__swiper-pagination {
    bottom: 52px !important;

    .swiper-pagination-bullet {
        width: 27px !important;
    }
}

.model-plus {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
