.popup {
  overflow: hidden;
  padding-bottom: 100px;
  border-top: 3px solid rgba(#1E1E1E, 0.1);
  background: #F9F7F2;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__close-button {
    @include font(20px, -0.05em, 35px);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 39px;
    margin-top: 17px;
    // position: relative;
    &::after {
      content: '+';
      font-family: sans-serif;
      font-weight: bold;
      transform: rotate(-45deg);
      margin-left: 14px;
      font-size: 28px;
    }
  }
  &__button {
    @include font(16px, -0.02em, 20px);
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 270px;
    margin-bottom: 49px;
    &::after {
      content: url('../img/popup/popup-download.svg');
      margin-left: 20px;
    }
    &--rounded {
      margin-top: 36px;
      margin-bottom: 9px;
      border-radius: 90px;
      padding: 7px;
      width: 252px;
      &::after {
        content: '';
        margin-left: 0;
      }
      &::before {
        content: url('../img/popup/popup-gift.svg');
        margin-right: 14px;
      }
    }
    &-label {
      font-size: 11px;
      width: 40px;
      height: 40px;
      top: -21px;
      right: -21px;
      background-color: #D1CABC;
    }
  }
  &__title {
    @include font(25px, -0.03em, 25px);
    text-transform: uppercase;
    text-align: center;
    &--lower {
      text-transform: none;
    }
    &--big {
      font-size: 30px;
      line-height: 30px;
    }
  }
  &__description {
    @include font(12px, -0.02em, 16px);
    text-align: center;
    font-family: 'Segoe UI Regular' !important;
    max-width: 228px;
    margin: 0 auto;
    margin-top: 19px;
    margin-bottom: 60px;
    &--big {
      font-size: 14px;
      line-height: 20px;
      max-width: 245px;
    }
  }
  &__swiper-slide {
    margin-top: 24px;
    margin-bottom: 49px;
    display: flex;
    width: 771px !important;
    border-top: 3px solid rgba(#1E1E1E, 0.1);
    border-bottom: 3px solid rgba(#1E1E1E, 0.1);
  }
  &__card {
    min-width: 194px;
    &-title {
       @include font(14px, -0.03em, 20px);
       text-transform: uppercase;
       max-width: 168px;
       margin-bottom: 11px;
      margin-top: -8px;
      margin-left: -4px;
      margin-right: -11px;
    }
    &-subtitle {
       @include font(10px, -0.01em, 13px);
       opacity: 0.7;
       text-transform: none;
       max-width: 148px;
       margin-bottom: 35px;
       margin-left: -5px;
    }
  }
  &__model {
    margin-bottom: 34px;
    margin-right: 12px;
    margin-left: 12px;
    &-wrap {
    padding-right: 25px;
    padding-left: 25px;
    margin-bottom: 52px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }
    &-img {
      width: 270px;
      height: 401px;
      margin-bottom: 10px;
      position: relative;
    }
    &-price {
      @include font(50px, -0.04em, 75px);
      color: $color-white;
      position: absolute;
      bottom: -15px;
      left: 0px;
    }
    &-name {
      @include font(16px, 0.02em, 16px);
      text-transform: uppercase;
      color: rgba(#000000, 0.7);
      text-align: left;
      // margin-top: 10px;
      }
  }
  &__swiper-container {
    margin-top: 43px;
    margin-bottom: 100px;
  }
  &__swiper-wrapper {
    padding-bottom: 50px;
  }
  &__uniform {
    width: 320px;
    height: 450px;
    overflow: hidden;
    margin: 0 auto;
    img {
      height: 100%;
      max-width: none;
      right: 316px;
    }
  }
  &__form {
    margin-top: -14px;
    &-button {
      width: 270px;
      font-size: 16px;
      padding: 21px 0;
      display: flex;
      justify-content: center;
    }
  }
  &__input {
    margin-bottom: 31px;
    &::placeholder {
      @include font(16px, -0.01em, 20px);
    }
  }
}

.popup__swiper-button-prev,
.popup__swiper-button-next {
  display: none !important; 
}


