.stages{
  padding-top: 86px;
  padding-bottom: 113px;
  &__swiper-container {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  &__swiper-wrapper {
    padding-bottom: 52px;
  }
  &__title {
    @include font(18px, -0.03em, 22px);
    text-align: center;
    margin-bottom: 36px;
     width: 269px;
      margin-left: auto;
      margin-right: auto;
  }
  &__description {
    @include font(12px, -0.02em, 16px);
    text-align: center;
    font-family: 'Segoe UI Regular' !important;
    margin-bottom: 36px;
    width: 269px;
    margin-left: auto;
    margin-right: auto;
  }
  &__card {
    position: relative;
    width: 100%;
    height: 455px;
    padding-top: 52px;
    &-bg {
      position: absolute;
      top: 0;
      right: 2px;
      height: 100%;
      width: 43%;
      overflow: hidden;
      &-image {
        width: 580px;
        height: 483px;
        margin-left: -242px;
        position: absolute;
        bottom: -21px;
      }
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(#FFFFFF, 0.2);
      }
    }
    &-title {
      @include font(25px, -0.05em, 25px);
      text-transform: uppercase;
      width: 240px;
      margin-left: 24px;
      margin-bottom: 42px;
    }
    &-description {
      @include font(12px, -0.01em, 18px);
      font-family: 'Segoe UI Regular' !important;
      margin-bottom: 19px;
      width: 130px;
      margin-left: 24px;
    }
    &-arrow {
      display: none;
      font-family: 'Segoe UI Regular' !important;
      @include font(12px, 0.2em, 28px);
      color: #000000;
      text-transform: uppercase;
    }
  }
}

.swiper-pagination-bullet {
    width: 50px !important;
    height: 2px !important;
    background: #000000 !important; 
    border-radius: 0 !important;
}

.stages__swiper-button-next:after {
  content: url('../img/stages/arrow-next.svg') !important;
  right: 72%;
}

.stages__swiper-button-prev:after {
  content: url('../img/stages/arrow-prev.svg') !important;
  left: 72%;
}

.stages__swiper-button-next:after, .stages__swiper-button-prev:after {
  top: 230px !important;
}
