extends _includes/layout


block config
    - var pagetitle = 'Шью Дизайн'

block content
    block hero
        include _includes/blocks/hero
    block carousel 
        include _includes/blocks/carousels
    block uniforms
        include _includes/blocks/uniforms
    //- .container
    //-     ul.dev-menu
    //-         li.dev-menu__item
    //-             a(href="main.html") Главная
    //-         li.dev-menu__item
    //-             span.link.js-popup(data-href="#login") Авторизация
    //-         li.dev-menu__item
    //-             span.link.js-popup(data-href="#register") Регистрация
