.body {
    background: $color-bg;
    color: $color-text;

    font-family: $font-family;
    font-size: $font-size;
    letter-spacing: $letter-spacing;
    line-height: $line-height;

    @include media-breakpoint-up(lg) {
        font-size: $font-size-lg;
        line-height: $line-height-lg;
    }

    &._frozen {
        overflow: hidden;
        height: 100%;
    }

    position: relative;
}

.container {
    // width: 100%;
    // margin: 0 auto;
    // background-color: black;
    @include make-container();
}

.hidden {
    display: none !important;
}

.hidden-sm {
    @include media-breakpoint-down(sm) {
        display: none !important;
    }
}

.hidden-lg {
    @include media-breakpoint-up(lg) {
        display: none !important;
    }
}

.visible-sm {
    @include media-breakpoint-up(md) {
        display: none !important;
    }
}

.visible-md {
    @include media-breakpoint-down(sm) {
        display: none !important;
    }

    @include media-breakpoint-up(lg) {
        display: none !important;
    }
}

.visible-lg {
    @include media-breakpoint-down(md) {
        display: none !important;
    }
}

.nowrap {
    white-space: nowrap;
}

.muted {
    opacity: 0.5;
}

.dashed {
    border-bottom: 1px dashed;
}

a,
.link {
    cursor: pointer;
    color: $color-link;
}

strong {
    font-weight: bold;
}

::placeholder {
    color: rgba($color-text, 0.5);
}

:focus::placeholder {
    opacity: 1;
}

.necessaty_fields {
    display: none !important;
}

.ios-fixed {
    @include media-breakpoint-down(sm) {
        position: fixed;
        overflow: hidden;
        height: 100%;
        width: 100%;
    }
}

.lazyload {
    visibility: hidden;
}

.fancybox-navigation {
    position: static;
}

.dev-menu {
    @include media-breakpoint-up(md) {
        column-count: 2;
    }

    @include media-breakpoint-up(lg) {
        column-count: 4;
    }

    &__item {
        display: block;
        margin-bottom: 1em;
        page-break-inside: avoid;
    }
}

.button {
    cursor: pointer;
    color: $color-white;
    background-color: $color-base;
    @include font(14px, 0.02em);
    padding: 16px;
    text-transform: uppercase;

    &-wrap {
        margin: 0 auto;
        position: relative;
        display: inline-block;
    }

    &-label {
        position: absolute;
        top: -36px;
        right: -24px;
        width: 53px;
        height: 53px;
        border-radius: 50%;
        @include font(15px, -0.01em, 18px);
        text-transform: uppercase;
        background: #e3e8ec;
        @include flex-center();
    }

    &-labelText {
        transform: rotate(45deg);
    }
}

img {
    max-width: 100%;
}

.background-transparent {
    background-color: transparent !important;
}

.dimmed {
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#000000, 0.3);
        z-index: 1999;
    }
}

input.form__error {
    border-bottom: 2px solid $color-base;
}

.form__error {
    font-size: 12px;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-auto {
    overflow: auto !important;
    height: 100vh !important;
}

.transform-none {
    transform: translate3d(0, 0, 0) !important;
}

.visible-1450 {
    display: none;
}

.hidden-1450 {
    display: block;
}

// .scrollmagic-pin-spacer {
//     padding-bottom: 0 !important;
// }

#pinContainer {
    width: 100%;
    // max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    overflow: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;

    .stages__card {
        margin-left: auto;
        margin-right: auto;
        // height: 100% !important;
        width: 33.3% !important;
        /* relative to parent -> 25% of 400% = 100% of window width */
        float: left !important;
        background-color: #fff;
    }
}

#slideContainer {
    width: 300%;
    /* to contain 4 panels, each with 100% of window width */
    height: 100%;
}
